<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="style-vue.css">
  </head>
  <body>
    <div id="app">
      <div class="box" v-show="false"></div>
      <button @click.prevent="buttonClick">Button</button>
      <input type="text" v-model="message" @keyup.enter="keyPressed">
      <ul>
        <li v-for="bear in bears" :class="{ 'strike': bear.status }">{{ bear.name }}</li>
      </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <script>
      new Vue({
        el: "#app",
        data: {
          message: '',
          bears: [
            {
              name: 'гризли',
              status: false
            },
            {
              name: 'белый',
              status: false
            },
            {
              name: 'панда',
              status: true
            },
            {
              name: 'барибал',
              status: false
            },
          ]
        },
        methods: {
          buttonClick: function() {
            console.log('Some text')
            this.bears[0].status = !this.bears[0].status
          },
          keyPressed: function() {
            console.log(this.message)
          } 
        }
      })
    </script>
  </body>
</html>
